{% extends 'base.html' %}
{% block container %}



<div class="alert alert-primary">
    <u>Completed Features </u>
    <ul>
        <li>Login For Students</li>
        <li>Registration For Students</li>
        <li>Login For Admins</li>
        <li>Add new Form - students</li>
        <li>View verified form - students</li>
        <li>Printable pdf form - students</li>
        <li>Verification of form - admin</li>
    </ul>
   <u>Technologies Used</u>
    <ol>
        <li>Python</li>
        <li>Flask</li>
        <li>MariaDB</li>
        <li>Git for version Control and multiple participation</li>
    </ol>
    </div>



    <table class="table table-hover  table-striped">
        <tr>
            <th>Members</th>
        </tr>
    
    <tr><td>Roshan Lamichhane</td></tr>
    <tr><td>Sudip Pokhrel</td></tr>
    <tr><td>Susmita Thapa</td></tr>
    <tr><td>Samikshya Paudel</td></tr>

    
</table>
{% endblock %}